@model TBWeb.Models.Agency

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Agency</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ranking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ranking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistryNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistryNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyPhone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyPhone2)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.WebPage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebPage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceRangeFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceRangeFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceRangeTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceRangeTo)
        </dd>


    </dl>
</div>

<hr />
<div class="col-md-3">
    <h4>Tipos de Cliente</h4>
    <div class="editor-field">
        <ul>
            @if (ViewBag.CustomerProfiles != null)
            {
                foreach (TBWeb.Models.CustomerProfile CustomerProfile in ViewBag.CustomerProfiles)
                {
                    <li>
                        @if (Model != null && Model.CustomerProfiles.Select(e => e).Where(e => e.CustomerProfileId == CustomerProfile.CustomerProfileId).Count() > 0)
                        {
                            <input type="checkbox" name="CustomerProfiles" value="@CustomerProfile.CustomerProfileId" checked="checked" />
                        }
                        else
                        {
                            <input type="checkbox" name="CustomerProfiles" value="@CustomerProfile.CustomerProfileId" />
                        }
                        @CustomerProfile.Name
                    </li>
                }
                @Html.ValidationMessageFor(model => model.CustomerProfiles)
            }
        </ul>
    </div>
</div>

<div class="col-md-3">
    <h4>Destinos</h4>
    <div class="editor-field">
        <ul>
            @if (ViewBag.Destinations != null)
            {
                foreach (TBWeb.Models.Destination Destination in ViewBag.Destinations)
                {
                    <li>
                        @if (Model != null && Model.Destinations.Select(e => e).Where(e => e.DestinationId == Destination.DestinationId).Count() > 0)
                        {
                            <input type="checkbox" name="DestinationIds" value="@Destination.DestinationId" checked="checked" />
                        }
                        else
                        {
                            <input type="checkbox" name="DestinationIds" value="@Destination.DestinationId" />
                        }
                        @Destination.Name
                    </li>
                }
                @Html.ValidationMessageFor(model => model.Destinations)
            }
        </ul>
    </div>
</div>

<div class="col-md-3">
    <h4>Formas de Pago</h4>
    <div class="editor-field">
        <ul>
            @if (ViewBag.PaymentMethods != null)
            {
                foreach (TBWeb.Models.PaymentMethod PaymentMethod in ViewBag.PaymentMethods)
                {
                    <li>
                        @if (Model != null && Model.PaymentMethods.Select(e => e).Where(e => e.PaymentMethodId == PaymentMethod.PaymentMethodId).Count() > 0)
                        {
                            <input type="checkbox" name="PaymentMethodIds" value="@PaymentMethod.PaymentMethodId" checked="checked" />
                        }
                        else
                        {
                            <input type="checkbox" name="PaymentMethodIds" value="@PaymentMethod.PaymentMethodId" />
                        }
                        @PaymentMethod.Name
                    </li>
                }
                @Html.ValidationMessageFor(model => model.PaymentMethods)
            }
        </ul>
    </div>
</div>


<div class="col-md-3">
    <h4>Productos</h4>
    <div class="editor-field">
        <ul>
            @if (ViewBag.Products != null)
            {
                foreach (TBWeb.Models.Product Product in ViewBag.Products)
                {
                    <li>
                        @if (Model != null && Model.Products.Select(e => e).Where(e => e.ProductId == Product.ProductId).Count() > 0)
                        {
                            <input type="checkbox" name="ProductIds" value="@Product.ProductId" checked="checked" />
                        }
                        else
                        {
                            <input type="checkbox" name="ProductIds" value="@Product.ProductId" />
                        }
                        @Product.Name
                    </li>
                }
                @Html.ValidationMessageFor(model => model.Products)
            }
        </ul>
    </div>
</div>

}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AgencyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>



