@model IEnumerable<TBWeb.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr data-bind="click: sortTable">
        <th data-column="Name">
            <span data-bind="attr: { class: currentColumn() == 'Name' ? 'isVisible' : 'isHidden' }">
                <i data-bind="attr: { class: iconType }"></i>
            </span>
            Name
        </th>
        <th data-column="Mail">
            <span data-bind="attr: { class: currentColumn() == 'Mail' ? 'isVisible' : 'isHidden' }">
                <i data-bind="attr: { class: iconType }"></i>
            </span>
            Mail
        </th>
        <th data-column="City">
            <span data-bind="attr: { class: currentColumn() == 'City' ? 'isVisible' : 'isHidden' }">
                <i data-bind="attr: { class: iconType }"></i>
            </span>
            City
        </th>
    </tr>

    <tbody data-bind="foreach: customers">
        <tr>
            <td data-bind="text: Name"></td>
            <td data-bind="text: Mail"></td>
            <td data-bind="text: City"></td>

        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td>
                Number of items per page:
                <select id="pageSizeSelector" data-bind="value: pageSize">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                    <option value="100">100</option>
                </select>
            </td>
            <td colspan="7">
                <button data-bind="click: previousPage" class="btn"><i class="icon-step-backward"></i></button>
                Page<label data-bind="text: currentPageIndex() + 1" class="badge"></label>
                <button data-bind="click: nextPage" class="btn"><i class="icon-step-forward"></i></button>
            </td>
        </tr>
    </tfoot>
</table>



@*@foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SearchTermText)
        </td>*@
@*<td>
        @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |
        @Html.ActionLink("Details", "Details", new { id = item.CustomerId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })
    </td>*@
