@*@model IEnumerable<TBWeb.Models.Trip>*@

@*<table class="table">
                @Html.DisplayNameFor(model => model.DurationDays)

    @foreach (var item in Model) {
                @Html.DisplayFor(modelItem => item.Customer.Name)

                @Html.ActionLink("Edit", "Edit", new { id=item.TripId }) |
                @Html.ActionLink("Details", "Details", new { id=item.TripId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.TripId })
    }

*@


@*<thead>
        <tr data-bind="click: sortTable">
            <th data-column="Category">
                Categoria
                <span data-bind="attr: { class: currentColumn() == 'Category' ? 'isVisible' : 'isHidden' }">
                    <i data-bind="attr: { class: iconType }"></i>
                </span>
            </th>
            <th data-column="Destiny">
                Destino
                <span data-bind="attr: { class: currentColumn() == 'Destiny' ? 'isVisible' : 'isHidden' }">
                    <i data-bind="attr: { class: iconType }"></i>
                </span>
            </th>
            <th data-column="Description">
                Descripcion
                <span data-bind="attr: { class: currentColumn() == 'Description' ? 'isVisible' : 'isHidden' }">
                    <i data-bind="attr: { class: iconType }"></i>
                </span>
            </th>
            <th data-column="PostDate">
                Publicado
                <span data-bind="attr: { class: currentColumn() == 'PostDate' ? 'isVisible' : 'isHidden' }">
                    <i data-bind="    attr: { class: iconType }"></i>
                </span>
            </th>
        </tr>
    </thead>*@

<style>
    .mod-first {
    }

    .mod-actions {
    }

    .mod-description {
    }
</style>
<div class="=container">
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <div class="list-group" data-bind="foreach: currentPage">
                <div class="list-group-item">
                    <div class="row mod-first list-group-item active">
                        <span class="col-md-1 pull-left" data-bind="text: Category"></span>
                        <span class="col-md-3 pull-left" data-bind="text: Destiny"></span>
                        <span class="col-md-5 pull-right"> selecciona rapido y suma 120.543 millas</span>
                    </div>
                    <div class="row mod-first list-group-item">
                        <div class="col-md-3">Salida: Noviembre 2014</div>
                        <div class="col-md-3">Regimen All Inclusive</div>
                        <div class="col-md-3 pull-right" data-bind="text: 'publicado:' + moment($data.postdate).fromNow()"></div>
                    </div>
                    <div class="row mod-actions list-group-item">
                        <span class="col-md-3"><a class="expand" data-toggle="collapse" data-bind="attr: {'data-target': 'trip' + TripId}, attr: {'href': '#trip' + TripId}">Detalle</a> </span>
                        <span class="col-md-3 pull-right"><a class="expand" data-toggle="collapse" data-bind="attr: {'data-target': 'tripq' + TripId}, attr: {'href': '#tripq' + TripId}, click: $parent.ShowBids">Cotizaciones Recibidas (2)</a> </span>
                        <span class="col-md-3 pull-right"><a class="expand" data-toggle="collapse" data-bind="attr: {'data-target': 'tripb' + TripId}, attr: {'href': '#tripb' + TripId}">Mensajes (8)</a> </span>
                    </div>
                    <div class="row mod-description collapse list-group" data-bind="attr: {id: 'trip' + TripId} ">
                        <span class=" col-md-9 list-group-item-text" data-bind=" text: Description"></span>
                    </div>
                    <div class="row mod-bids collapse list-group" data-bind="attr: {id: 'tripq' + TripId} ">
                        <span class=" col-md-8 list-group-item-text">Ofertas</span>
                        <div class="list-group" data-bind="foreach: $root.currentTripBids">
                            <div class="list-group-item">


                                <div class="row mod-first list-group-item ">
                                    <span class="col-md-1 offset1 pull-left" data-bind="text: BidTripNumber"></span>
                                    <span class="col-md-2 offset2 pull-right" data-bind="text: 'hace:' + moment($data.PostDate).fromNow()"></span>
                                    <span class="col-md-1 offset1 pull-right" data-bind="text: DurationDays"></span>
                                </div>
                                <div class="row mod-first list-group-item ">
                                    <span class="col-md-6 pull-left" data-bind="text: Destino"></span>
                                    <span class="col-md-2 pull-right" data-bind="text: Price"></span>
                                </div>
                                        <div class="row mod-first list-group-item ">
                                            <span class="col-md-8 pull-left" data-bind="text: Description"></span>
                                </div>

                            </div>
                        </div>
                            </div>
                            <div class="row mod-questions collapse list-group" data-bind="attr: {id: 'tripb' + TripId} ">
                                <span class=" col-md-9 list-group-item-text">Preguntas</span>
                            </div>
                            <div class="row mod-separator list-group-item"></div>

                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>

            </div>
        </div>
        <div class="row col-md-12">
            Number of items per page:
            <select id="pageSizeSelector" data-bind="value: pageSize">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="60">60</option>
                <option value="70">70</option>
                <option value="80">80</option>
                <option value="90">90</option>
                <option value="100">100</option>
            </select>
            <button data-bind="click: previousPage" class="btn"><i class="icon-step-backward"></i></button>
            Page<label data-bind="text: currentPageIndex() + 1" class="badge"></label>
            <button data-bind="click: nextPage" class="btn"><i class="icon-step-forward"></i></button>
        </div>






        @section Scripts
{

            <script type="text/javascript">

                function beginPaging(args) {
                    // Animate
                    $('#grid-list').fadeOut('normal');
                }

                function successPaging() {
                    // Animate
                    $('#grid-list').fadeIn('normal');
                    $('#myCarousel').fadeOut('normal');
                    $('a').tooltip();
                }

                function failurePaging() {
                    alert("Could not retrieve list.");
                }

            </script>


}