@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @*<li class="dropdown">
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Administrar" })
        </li>*@
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-right:5px">
                <span class="glyphicon glyphicon-user" style="padding-right:5px; "></span>Hola @User.Identity.GetUserName() !
            </a>
            <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink("Perfil", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Administrar" })
                </li>
                <li class="divider"></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
            </ul>
        </li>
    </ul>




    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="padding-left:15px">
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
