@model IEnumerable<TBWeb.Models.Bid>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Trip.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgencyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Viewed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.File)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Trip.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgencyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Viewed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.File)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BidId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BidId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BidId })
        </td>
    </tr>
}

</table>
