@model TBWeb.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewsTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsBody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsPostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsPostDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NewsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
