
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>


<div class="col-xs-1">
    @Html.ActionLink("Customer Profiles","index","CustomerProfiles")

</div>
<div class="col-xs-1">
    @Html.ActionLink("Usuarios", "index", "Account")

</div>
<div class="col-xs-1">
    @Html.ActionLink("Agencias", "index", "Agency")

</div>
<div class="col-xs-1">
    @Html.ActionLink("Usuarios de Agencias", "index", "AgencyUser")

</div>
<div class="col-xs-1">
    @Html.ActionLink("Categoria de Miembros", "index", "MembersCategories")

</div>
<div class="col-xs-1">
    @Html.ActionLink("Noticias", "index", "News")

</div>
<div class="col-xs-1">
    @Html.ActionLink("Formas de Pago", "index", "PaymentMethod")

</div>
<div class="col-xs-1">
    @Html.ActionLink("Productos", "index", "Products")

</div>
<div class="col-xs-1">
    @Html.ActionLink("Continentes", "index", "Continents")

</div>
<div class="col-xs-1">
    @Html.ActionLink("Regiones", "index", "Regions")

</div>
<div class="col-xs-1">
    @Html.ActionLink("Paises", "index", "Countries")

</div>
<div class="col-xs-1">
    @Html.ActionLink("Estados", "index", "States")

</div>
<div class="col-xs-1">
    @Html.ActionLink("Ciudades", "index", "Cities")

</div>