@{
    ViewBag.Title = "Inicio";
}

<div class="container visible-xs">
    <div class="col-md-5">
        <form>
            <div class="row input-append">
                <input class="search-query col-md-5" placeholder="Donde queres viajar?" type="search" data-bind="value: query, valueUpdate: 'keyup'" autocomplete="off">
            </div>
            <div class="row input-append">
                <button type="submit" class=" btn btn-success btn-large">Arma tu viaje</button>
                <button type="submit" class=" btn btn-primary btn-large">Ver cotizaciones</button>
                <div>
                    <a class="btn" href="@Url.Action("Index", "Groups")" id="A1">
                        <span class="font-icon-group"></span> All Groups
                    </a>
                </div>
            </div>
        </form>

    </div>
    </div>
    <div class="container hidden-xs">
    <!-- Carousel
       ================================================== -->
    <div id="myCarousel" class="carousel slide ">
        <div class="carousel-inner">



            <div class="item active">
                <img src="~/img/768x1366/Cocktail-Beach-Drink-768x1366.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="controls-row">

                        </div>



                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/img/768x1366/Four-Seasons-Bora-Bora-Resort-768x1366.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="controls-row">

                        </div>



                    </div>
                </div>
            </div>
            <div class="item">
                <img src="~/img/768x1366/perito-moreno-glacier-argentina-768x1366.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <div class="controls-row">

                        </div>



                    </div>
                </div>

            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>

        <div class="row">
            <div class=" col-md-12 carousel-title">
                <form>
                    <div class="input-append col-md-12">
                        <h1>Ahorra tiempo y dinero!</h1>
                        <p class="lead">Deja que las agencias compitan por tu viaje</p>
                    </div>
                </form>
            </div>
        </div>


                <div class="offset7 col-md-5 carouselsearch">
                    <form>
                        <div class="row input-append">
                        <input class="search-query col-md-5" placeholder="Donde queres viajar?" type="search" data-bind="value: query, valueUpdate: 'keyup'" autocomplete="off">
                        </div>
                        <div class="row input-append">
                            <button type="submit" class=" btn btn-success btn-large">Arma tu viaje</button>
                            <button type="submit" class=" btn btn-primary btn-large">Ver cotizaciones</button>
                                 </div>
                    </form>

            </div>


    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>

</div>
        </div>



<div id="Results" class="row">
    <div class="col-lg-3 col-md-3 pull-left">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked " id="left-sidebar" style="display: none">
                <li class="list-group-item active">Mis Viajes</li>
                <li class="list-group-item">@Html.ActionLink("Crear nuevo viaje!", "Create", "Trips")</li>
            </ul>
        </div>
        
        @Html.Partial("../News/_partialNewsList");

    </div>
    <div class="col-lg-9 col-md-9 col-xs-12 pull-right" >
    @Html.Partial("../Trips/_partialMyTrips");

</div>



</div>


<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-md-3">
            <h3>Informacion</h3>
            <p>Completa la informacion de tu viaje</p>
            <img class="img-circle" src="~/img/informacion.png" />
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div class="col-md-3">
            <h3>Cotizaciones</h3>
            <p>Recibi las cotizaciones de las agencias</p>
            <img class="img-circle" src="~/img/cotizaciones.png" />
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div class="col-md-3">
            <h3>Seleccion</h3>
            <p>Elegi la cotizacion que mas te convenga</p>
            <img class="img-circle" src="~/img/seleccion.png" />
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div class="col-md-3">
            <h3>Viaja</h3>
            <p>Empeza a disfrutar tu viaje</p>
            <img class="img-circle" src="~/img/viaja.png" />
        </div>
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->
    @*<hr class="featurette-divider">

        <div class="featurette">
            <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-chrome.png">
            <h2 class="featurette-heading">Queres viajar?<span class="muted">Recibi cotizaciones de las agencias.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <hr class="featurette-divider">

        <div class="featurette">
            <img class="featurette-image pull-left" src="../assets/img/examples/browser-icon-firefox.png">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <hr class="featurette-divider">

        <div class="featurette">
            <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-safari.png">
            <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <hr class="featurette-divider">*@

    <!-- /END THE FEATURETTES -->
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "brand" })
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </div>*@

    <!-- FOOTER -->





</div>